<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="../controller/loginAction.php" method="post">
        <fieldset>
            <legend>Login</legend>
            <label for="uname">Username</label>
            <input type="text" name="uname" id="uname"><br><br>
            <label for="pass">Password</label>
            <input type="password" name="pass" id="pass"><br><br>
            <input type="submit" value="Login">
             
        </fieldset>
    </form>
    <a href="../view/registration.html">No account? Create here!</a>
</body>
</html>